:root {
  --primary-color: rgb(18, 187, 18);
  --secondary-color: rgb(2, 100, 2);
  --background-color: aliceblue;
  --text-color-normal: black;
  --box-shadow: 0px 2px 10px #0000006b;
  --base-white-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

header {
  background-color: aliceblue;
  padding: 10px 0;
  box-shadow: var(--box-shadow);
}

.header-container {
  display: flex;
  justify-content: space-between;

  max-width: 1200px;
  margin: 0 auto;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
  }
}

.header-button {
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 15px;
  list-style: none;

  margin-left: 20px;
  a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
  }
  a:hover {
    color: var(--secondary-color);
  }
}

/* Button Style */

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-login {
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  background-color: aliceblue;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: var(--secondary-color);
}
.btn-login:hover {
  background-color: rgb(187, 185, 185);
}
/* Main Section */

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

/* HERO Section */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  width: 70%;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  p {
    font-size: 1.2rem;
    margin: 20px 0;
  }
}

.right-side {
  width: 30%;
  img {
    width: 100%;
  }
}

/* Solution Section */
.solution {
  margin-top: 50px;
}

.solution-header {
  text-align: center;
  margin-bottom: 20px;
  h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}

.solution-content {
  display: flex;
  justify-content: space-between;
  .item {
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    h3 {
      font-size: 1.5rem;
      color: var(--primary-color);
      margin-bottom: 10px;
    }
    p {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
}
/* Customize Section */

/* Support Section */

/* Discover Section */

.discover {
  margin-top: 50px;
}
.discover-header {
  text-align: center;
  margin-bottom: 20px;
  h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 10px;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
}
.discover-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  .item {
    box-shadow: var(--box-shadow);
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    h3 {
      font-size: 1.5rem;
      color: var(--primary-color);
      margin-bottom: 10px;
    }
    p {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
}
